@import url("'https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');


* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
}

footer h3 {
    color: hsl(0, 0%, 59%);
    font-size: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0  25px;
    height: 10vh;
}

.desk-main, .desk-main-img, #features-header-desk, .how-we-work-img-desk {
    display: none;
}

.desk-nav {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* .dropdownbtn {
    position: absolute;
} */

.dropdowncontent {
    display: none;
    position: fixed;

}

.dropdowncontent a {
    color: white;
    float: none;
    text-transform: uppercase;
    line-height: 60px;
    /* z-index: 1; */
}

.dropdowncontent img {
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 10%;
}

.plans {
    width: 80%;
    border: solid white 1px;
    color: white;
}

.dropdown:hover .dropdowncontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(270, 9%, 17%);
    right: 0;
    width: 100vw;
    height: 100%;
    top: 10%;
    padding-top: 35px;
    z-index: 1;   
}

#header-image {
    background-image: url("/images/image-intro-mobile.jpg");
    height: 450px;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
}

#header-left-pattern {
    position: absolute;
    height: 150px;
    left: 0;
    top: 0;
}

#header-right-pattern {
    position: absolute;
    height: 270px;
    right: 0;
    bottom: -150px;
}

h1 {
    font-size: 3rem;
}

main {
    position: relative;
    padding: 70px 9px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    color: white;
}

h1, main p, .default-button {
    margin: 10px 0;
}

.default-button {
    padding: 7px 20px;
    border: solid white 1px;
    color: white;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 130px;
    padding: 0 19px;
}

.line-break {
   height: 1px;
   width: 40%;
   background-color: black;
   margin-bottom: 30px;     
}

#features-header {
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.features img {
    margin: 30px 0;
}

.features h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.features p, footer p {
    line-height: 30px;
}

.cta-container {
    display: flex;
    justify-content: center;
}

.call-to-action {
    position: relative;
    background-color: hsl(256, 26%, 20%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}

.call-to-action h2 {
    font-size: 2.5rem;
    margin-bottom: 35px; 
    color: white;
}

.call-to-action .how-we-work-img {
    position: absolute;
    height: 90%;
    width: 50%;
    right: 0;
    top: 0;
}

.footer-head-container {
    margin: 150px 0 70px 0;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 0 90px;
    margin-top: 20px;
}

footer h3 {
    margin: 25px 0;
    font-size: 14px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
}

.attribution {
    margin-top: 50px;
    margin-bottom: 30px;
}

.attribution a {
    color: black;
}

@media (min-width: 480px) {
    body {
        background-color: yellow;
    }
    .dropdown, main, #header-image, #features-header, .how-we-work-img  {
        display: none;
    }

    header {
        padding: 23px  70px;
    }

    .desk-nav {
        display: flex;
        justify-content: space-around;
        width: max-content;
        align-items: baseline;
    }

    .desk-nav a {
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        margin-left: 10px;
        font-weight: 900;
    }

    .plans {
        padding: 10px 20px;
        width: auto;
    }

    .desk-main {
        position: relative;
        display: flex;
        overflow: hidden;
        height: 520px;
        align-items: flex-start;
    }

    h1 {
        font-size: 5rem;
        text-align: left;
    }

    .desk-main-cta p {
        text-align: left;
        margin-bottom: 50px;
        font-size: 1.4rem;
        line-height: 33px;
    }

    .default-button {
        font-size: 20px;
        padding: 15px 20px;
    }

    .desk-main-cta {
        width: 50%;
        text-align: left;
        margin-left: 5%;
    }

    #desk-header-left-pattern {
        position: absolute;
        bottom: -280px;
        left: 0;
    }

    #desk-header-right-pattern {
        position: absolute;
        top: -83px;
        right: -75px;
        
    }

    .desk-main-img {
        display: inline-block;
        position: absolute;
        top: 25%;
        right: 2%;
        width: 40%;
    }

    .features {
        display: flex;
        flex-direction: row;
        
    }

    .line-break {
        display: none;
    }

    #features-header-desk {
        display: block;
        font-size: 4.5rem;
        margin-left: 5%;
        text-align: left;
        margin-top: 15%;
    }

    .features-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5%;
    }

    .features-container p {
        text-align: left;
    }

    .call-to-action {
        position: relative;
        background-color: hsl(256, 26%, 20%);
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .call-to-action h2 {
        font-size: 3rem;
        margin-left: 70px;
        margin-bottom: 0;
        width: 40%;
        text-align: left;
    }

    .call-to-action  a {
        margin-right: 70px;
        margin-bottom: 0;
    }

    .how-we-work-img-desk {
        display: block;
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
    }

    }