* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px  25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* .dropdownbtn {
    position: absolute;
} */

.dropdowncontent {
    display: none;
    position: fixed;
    background-color: rgb(230, 226, 23);
    right: 1px;
    width: 100vw;
    top: 20px;
    z-index: 1;

}

.dropdowncontent a {
    color: black;
    float: none;
    /* z-index: 1; */
}

.dropdown:hover .dropdowncontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-image {
    background-image: url("/images/image-intro-mobile.jpg");
    height: 450px;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
}

#header-left-pattern {
    position: absolute;
    height: 150px;
    left: 0;
    top: 0;
}

#header-right-pattern {
    position: absolute;
    height: 270px;
    right: 0;
    bottom: -150px;
}

main {
    position: relative;
    padding: 70px 9px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    color: white;
}

h1, main p, .default-button {
    margin: 10px 0;
}

.default-button {
    padding: 7px 20px;
    border: solid white 1px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
}

.line-break {

}

#features-header {
    font-size: 2em;
}